@using xpPortal.Models
@model IEnumerable<xpPortal.Models.Buddy>
@{
    ViewBag.Title = "ManageRecruiter";
    Layout = "~/Views/Shared/RecruiterLayout.cshtml";
}

<head>
    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>


<div class="row">
    <div class="col-sm-12">

        <section class="panel">
            <header class="panel-heading header-class">
                Recruiter List
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>
            <div class="panel-body" style="max-height:400px;overflow-y:auto">
                <table class="table table-hover tm-membr" id="manageJoinee">
                    <thead>
                        <tr>
                            <th width="30">S.No </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone No
                            </th>
                            <th>
                                Location
                            </th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 0;
                            foreach (Buddy obj in Model)
                            {
                                i++;

                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @obj.Name @*+ @obj.LastName;}*@
                                    </td>
                                    <td>@obj.Email</td>
                                    <td>@obj.PhoneNo</td>
                                    <td>@obj.Location</td>
                                   
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </section><!--panel-->


    </div><!--container-fluid-->
</div>

<div class="row">
    <div class="col-sm-12">

        <section class="panel">
            <header class="panel-heading header-class">
                Add Recruiter
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>

                </span>
            </header>

        </section>
    </div>
</div>


<div class="row">

    <div class="col-md-6">


        <div class="container-fluid">
            <form class="form-horizontal" action="">
                <div class="form-group">
                    <label style="padding-left:0.5%">Name</label>
                    <input type="text" class="form-control" placeholder="Name" name="Name" required>
                </div>
                <div class="form-group">
                    <label style="padding-left:0.5%">Email</label>
                    <input type="text" class="form-control" placeholder="Email" name="Email" required>
                </div>
                <div class="form-group">
                    <label style="padding-left:0.5%">Phone</label>
                    <input type="text" class="form-control" placeholder="Phone" name="PhoneNo" required>
                </div>
                <div class="form-group">
                    <label style="padding-left:0.5%">Location</label>
                    <input type="text" class="form-control" placeholder="Location" name="Location" required>
                </div>
                <br />
                <div class="form-group">
                    <a href="#" class="btn btn-primary btn-block center-block" style="width: 30%;float:right">Add</a>
                </div>
            </form>
        </div>
    </div>



</div>
